body {
    text-align: center;
    font-family: Arial, sans-serif;
    margin-top: 50px;
}
section.guess    {
    color: #000000;
    background-color: #A6A6A6;
    padding: 50px;
    
}

section.rps    {
    color: #000000;
    background-color: #FFFFFF;
    padding: 50px;
}

section.tic    {
    display: inline-block;
    color: #000000;
    background-color: #A6A6A6;
    padding: 50px;   
}

#submitGuess    {
    width: 200px;
    height: 100px;
    font-size: 30px;
    cursor: pointer;

}

#feedback {
    font-size: 30px;
    margin-top: 20px;
    display: none; /* Hide initially */
}

#userChoice, #computerChoice, #result {
    font-size: 24px;
    margin-bottom: 10px;
}


#choices img {
    width: 200px;
    height:200px;
    margin: 10px;
    cursor: pointer;
}


.board {
    display: grid;
    grid-template-columns: repeat(3, 200px);
    gap: 4px;
    margin-top: 20px;
    background-color: #fff;
}

.cell {
    width: 200px;
    height: 200px;
    font-size: 40px;
    cursor: pointer;
    border: 5px solid #000;
    display: flex;
    align-items: center;
    justify-content: center;
}

#message    {
    font-size: 24px;
    margin-bottom: 10px;
}


h1    {
    font-size: 60px;
    
}

h2    {
    font-size: 40px;
}
